body {
  margin: 0;
  width: 100%;
  background-color: #1a1a1a;
  font-family: 'Poppins'!important;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(250,166,26); 
  border-radius: 5px;
  height: 20px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(250,166,26); 
}